{% extends 'base.html' %}
{% load MyFilters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="margin-top: 10px;">
        {# Строка с ЗАГОЛОВКОМ #}
        <div class="row" style="margin-top: 10px;">
          <div class="col">
          </div>
          <div class="col" align="center">
              <h4 style="color: rgb(255, 255, 255);">Все заявки:</h4>        
          </div>
          <div class="col">
            <!-- Column -->
          </div>
        </div>
        {# Строка с ФИЛЬТРАМИ #}
        <div class="row"  style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col">
            {% if filter == 'new' %}
            <a class="btn btn-light" href="{% url 'user-app:allrequests' 'new' %}" role="button" style="height:70px; width:100%">
            {% else %}
            <a class="btn btn-outline-light" href="{% url 'user-app:allrequests' 'new' %}" role="button" style="height:70px; width:100%">
            {% endif %}
              Новых: <br>
              <b>{{new_requests}}</b>
            </a> 
          </div>          

          <div class="col">
            {% if filter == 'in_work' %}
            <a class="btn btn-success" href="{% url 'user-app:allrequests' 'in_work' %}" role="button" style="height:70px; width:100%">
            {% else %}
            <a class="btn btn-outline-success" href="{% url 'user-app:allrequests' 'in_work' %}" role="button" style="height:70px; width:100%">
            {% endif %}
              В работе: <br>
              <b>{{in_work_requests}}</b>
            </a> 
          </div> 

          <div class="col">
            {% if filter == 'on_check' %}
            <a class="btn btn-warning" href="{% url 'user-app:allrequests' 'on_check' %}" role="button" style="height:70px; width:100%">
            {% else %}
            <a class="btn btn-outline-warning" href="{% url 'user-app:allrequests' 'on_check' %}" role="button" style="height:70px; width:100%">
            {% endif %}
              На проверке: <br>
              <b>{{on_checking_requests}}</b>
            </a> 
          </div>  

          <div class="col">
            {% if filter == 'lost' %}
            <a class="btn btn-danger" href="{% url 'user-app:allrequests' 'lost' %}" role="button" style="height:70px; width:100%">
            {% else %}
            <a class="btn btn-outline-danger" href="{% url 'user-app:allrequests' 'lost' %}" role="button" style="height:70px; width:100%">
            {% endif %}
              Просрочено: <br>
              <b>{{alarm_requests}}</b>
            </a> 
          </div> 

          <div class="col">
            {% if filter == 'completed' %}
            <a class="btn btn-primary" href="{% url 'user-app:allrequests' 'completed' %}" role="button" style="height:70px; width:100%">
            {% else %}
            <a class="btn btn-outline-primary" href="{% url 'user-app:allrequests' 'completed' %}" role="button" style="height:70px; width:100%">
            {% endif %}
              Выпонено: <br>
              <b>{{finished_requests}}</b>
            </a> 
          </div> 
        </div>
        {# Строка с ТАБЛИЦЕЙ #}
        <div class="row">
            {% regroup requests by IDWork.IDService as ServiceList %}
            <div class="accordion " id="accordion">
                {% for Service in ServiceList %}

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{Service.grouper|cut:" "}}">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{Service.grouper|cut:" "}}" aria-expanded="true" aria-controls="collapse{{Service.grouper|cut:" "}}">
                        {{Service.grouper}}  ({{Service.list|length }})
                      </button>
                    </h2>
                    <div id="collapse{{Service.grouper|cut:" "}}" class="accordion-collapse collapse" aria-labelledby="heading{{Service.grouper|cut:" "}}" data-bs-parent="#accordion">
                      <div class="accordion-body">
                        <div class="table-responsive">
                          <table class="table table-hover table-bordered table-sm shadow" style="background-color: rgb(255, 253, 253);">
                            <thead >
                              <tr valign="middle">
                                <td width="10%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">№</th>
                                <td width="10%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">Дата создания</th>
                                <td width="30%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">Название</th>
                                <td width="15%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">Инициатор</th>
                                <td width="15%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">Исполнитель</th>
                                <td width="10%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">Статус</th>
                                <td width="5%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);">Оценка</th>
                                <td width="5%" class="table-light" style="background: #222222; color: rgb(253, 253, 253);"></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for request in Service.list %}
                              <tr>
                                <td style="text-align: center;">
                                  {{ request.id }}
                                </td>
                                <td>
                                  {{ request.DateOfCreation|date:"d.m.Y f" }}
                                </td>
                                <td>
                                  {{ request.Name }}
                                </td>
                                <td>
                                  {{ request.IDAuthor.get_full_name }}
                                </td>
                                <td>
                                  {% if request.IDExecutor != None %}
                                    {{ request.IDExecutor.get_full_name }}
                                  {% endif %}
                                </td>
                                <td>
                                  {{ request.Status }}
                                </td>
                                <td style="text-align: center;">
                                  {% if request.Status == 'on_check' and request.IDAuthor == user %}
                                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal{{request.id}}"> ? </button>
                                  {% elif request.Rating == None %}
                                    ---
                                  {% else %}
                                    {{request.Rating}}
                                  {% endif %}
                                  <!-- {{ request.Rating }} -->
                                </td>
                                <td>
                                  <a class="btn btn-outline-secondary" href="{% url 'user-app:details' scope filter request.id 'info' %}?page={{page_obj.number}}&id_service={{id_service}}" role="button">></a>
                                </td>
                              </tr>

                              <!-- Modal -->
                              <div class="modal fade" id="Modal{{request.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Заявка №{{request.id}}:</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="{% url 'user-app:set-rating' %}" method="POST">
                                      <input type="hidden" name="request_id" value="{{request.id}}">
                                      <div class="modal-body">
                                          {% csrf_token %}
                                          {{form|crispy}}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-secondary">Сохранить</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>

                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                {% endfor %}
            </div>
            {% if requests|length == 0 %}
                <h4 style="color: rgb(255, 255, 255); margin-top: 30px; text-align: center;"> У вас нет заявок c выбранным статусом.</h4>
            {% endif %}
        
        </div>
       
    </div>  
{% endblock %}    
