{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1 style="color: white; position: fixed;left:15px; top: 100px;"> Здравствуйте, {{ user.first_name }}!</h1>
            <h2 style="color: darkgrey; position: fixed;left:15px; top: 150px;"> Добро пожаловать в программу HelpDesk!</h2>
            <img src="{% static 'hands.png' %}" alt="Фото" style="width: 98%; margin-left: 10px">
        </div>
    </div>
{% endblock %} 