{% extends 'base.html' %}
{% load MyFilters %}
{% block content %}
    <div class="container" style="margin-top: 10px;">
        <div class="row" style="text-align: center;">
          <h4 style="color: rgb(255, 255, 255);">Регистрация пользователя:</h4>
        </div>
        <div class="row">
          <div class="col">
            <!-- Column -->
          </div>
          <div class="col">            
            <div class="card" style="border-radius: 15px; margin-top: 10px;">
              <div class="card-header">
                Заполните регистрационные данные
              </div>
              <div class="card-body Larger shadow">
                {% if form.errors %}
                    {% for field in form %}
                      {% for error in field.errors %}            
                        <div class="alert alert-danger">
                          {{ error|escape }}
                        </div>
                      {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group row my-3"
                      {% if field.field.required %} 
                        aria-required="true"
                      {% else %}
                        aria-required="false"
                      {% endif %}
                    >
                      <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                          {% if field.field.required %}
                            <span class="required text-danger">*</span>
                          {% endif %}
                      </label>
                      <div>
                      {{ field|addclass:'form-control' }}
                        {% if field.help_text %}
                          <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                            {{ field.help_text|safe }}
                          </small>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                  <div>
                    <button type="submit" class="btn btn-primary">
                      Отправить
                    </button>
                  </div>
                </form>
              </div> <!-- card body -->
            </div> <!-- card -->          
          </div>
          <div class="col">
            <!-- Column -->
          </div>
        </div>
    </div>
{% endblock %}   